@import "../../../common.scss";
@import "../../../variables.scss";

.navbar {
  background-color: $black;
  line-height: 24px;
  @media (max-width: 600px) {
    & {
      background-color: #826550;
      max-height: 100vh;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;

    @media (max-width: 700px) {
      & {
        font-size: 14px;
      }
    }

    @media (max-width: 500px) {
      & {
        font-size: 14px;
      }
    }

    @media (max-width: 600px) {
      & {
        text-align: center;
        font-weight: bold;
        padding: 13px 0;
        display: block;
        box-shadow: 0 1px 0 #71543f, inset 0 1px 0 #886e5b;
      }
    }

    &:hover {
      padding-bottom: 29px;
      border-bottom: 3px solid #826550;
    }
  }
  &__button {
    background-color: transparent;
    border: none;

    @media (max-width: 600px) {
      & {
        display: none;
        margin: 0 auto;

        height: 21vh;
      }
    }
  }

  &__arrow {
    margin-right: 12px;
  }
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: 600px) {
    & {
      flex-direction: column;
    }
  }
}

.navbar-ul {
  padding: 25px 0;
  max-width: 680px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  list-style-type: none;

  @media (max-width: 600px) {
    & {
      flex-direction: column;
      background-color: #6a4d38;
      max-height: 80vh;
      display: none;
    }
  }
}

.header-inner {
  height: 650px;
  background-image: url(../src/img/page-main/fon.jpg);
  background-size: cover;
  background-position: center 0;
  @media (max-width: 700px) {
    & {
      height: 400px;
    }
  }
}

.header-logo {
  padding-top: 70px;
  @media (max-width: 700px) {
    & {
      padding-top: 30px;
    }
  }
}

.logo {
  text-align: center;
}

.static {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 960px) and (min-width: 701px) {
    &__item--hair {
      order: -1;
    }

    &__item--money {
      order: -2;
    }

    &__item--value {
      order: -3;
    }
  }

  @media (max-width: 700px) {
    &__item--hair {
      order: -1;
    }

    &__item--value {
      order: -2;
    }
  }
  @media (max-width: 600px) {
    &__fake {
      display: none;
    }
  }

  &__text {
    padding-top: 30px;
    margin: 0 auto;
    font-size: $font-size-big;
    max-width: 250px;
    color: $black;
    font-weight: bold;

    @media (max-width: 600px) {
      & {
        max-width: none;
        margin: 0 15px;
        padding-top: 5px;
        font-size: $font-size-small;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__text--value {
    font-size: $font-size-medium;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__number {
    font-size: $font-size-huge;
    font-weight: 400;

    @media (max-width: 600px) {
      & {
        font-size: $font-size-medium;
      }
    }
  }

  &__desc {
    color: #f7f4f1;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;

    @media (max-width: 600px) {
      & {
        max-width: 120px;
        font-size: $font-size-small;
      }
    }
  }

  &__item {
    height: 160px;
    width: 320px;
    flex-grow: 1;
    background-color: #404040;
    @media (max-width: 700px) {
      & {
        width: 50%;
      }
    }

    @media (max-width: 600px) {
      & {
        height: 80px;
        width: 100%;
      }
    }
    &--white {
      background-color: $white;
      color: black;

      @media (max-width: 600px) {
        & {
          width: 100%;
        }
      }
    }

    &--light {
      background-color: #4e4e4e;
    }

    &--grey {
      background-color: $grey;
    }
  }

  &__text--white {
    margin: 0 auto;
    color: $black;
    font-size: $font-size-small;
    line-height: 27px;
    max-width: 226px;

    @media (max-width: 600px) {
      & {
        width: 100%;
        max-width: none;
      }
    }
  }

  &__fake {
    margin: 0 auto;
    max-width: 250px;
    padding-top: 20px;
    opacity: 0.3;
    color: #000000;
    font-size: $font-size-small;
    line-height: 27px;
  }
}

.static-header {
  margin-top: 264px;
  @media (max-width: 700px) {
    & {
      margin-top: 70px;
    }
  }
}

.hamburger {
  margin: 15px 10px 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;

  &__item {
    width: 36px;
    height: 3px;
    background-color: $white;
  }

  @media (max-width: 600px) {
    & {
      display: flex;
    }
  }
}

.closer {
  display: none;
  margin: 20px;
  width: 25px;
  height: 25px;
}

.form {
  padding: 0 25px;
  &__tittle {
    text-align: center;
    padding-top: 30px;
    color: $black;
    font-size: $font-size-medium;
    font-weight: bold;
  }
  &__input {
    color: $black;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    border: 1px solid #e5ddd5;
    margin-top: 15px;
    position: relative;
    &::placeholder {
      font-size: $font-size-small;
      color: $black;
    }
  }

  &__button {
    width: 50%;
    text-align: center;
    height: 50px;
    background-color: #826550;
    border: none;
    outline: none;
  }

  &__close {
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    color: $black;
    width: 50%;
    height: 50px;
    border: 1px solid #e5ddd5;
  }

  &-wrapper {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__pass {
    color: $black;
    font-size: $font-size-small;
    text-decoration: underline;
    margin: 10px 0;
  }

  &__remember {
    color: $black;
    font-size: $font-size-small;
    font-weight: bold;
  }

  &__check {
    width: 33px;
    height: 33px;
    border: 1px solid #e5ddd5;
    background-color: $white;
    margin: 10px 0;
  }
}
